---
import AppLayout from "../../../layouts/AppLayout.astro";
import UserSidebar from "../../../modules/users/components/UserSidebar.astro";
import MovementsList from "../../../modules/users/components/MovementsList";
---

<AppLayout title="Gerenciar - Movimentações de Colaboradores">
    <UserSidebar slot="sidebar" currentPath="/users/movements" />

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <MovementsList client:load />
    </div>
</AppLayout>
