---
import AppLayout from "../../../layouts/AppLayout.astro";
import SectorList from "../../../modules/admin/sectors/components/SectorList";
import AdminSidebar from "../../../components/AdminSidebar.astro";
---

<AppLayout title="Gerenciar - Setores">
    <AdminSidebar slot="sidebar" />

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <SectorList client:load />
    </div>
</AppLayout>
