---
import AppLayout from "../../../layouts/AppLayout.astro";
import JobTitleList from "../../../modules/admin/job-titles/components/JobTitleList";
import AdminSidebar from "../../../components/AdminSidebar.astro";
---

<AppLayout title="Gerenciar - Cargos">
    <AdminSidebar slot="sidebar" />

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <JobTitleList client:load />
    </div>
</AppLayout>
