---
import AppLayout from "../../layouts/AppLayout.astro";
import { ProcessCreate } from "../../modules/processes/components/create/ProcessCreate";
---

<AppLayout title="Novo Processo">
    <div class="max-w-7xl mx-auto py-6">
        <ProcessCreate client:load />
    </div>
</AppLayout>
