---
import AppLayout from "../../../layouts/AppLayout.astro";
import AdminSidebar from "../../../components/AdminSidebar.astro";
import MenuList from "../../../modules/admin/components/MenuList";

// Server-side check could be added here similar to settings page
---

<AppLayout title="MIS Menus">
    <AdminSidebar slot="sidebar" />

    <div class="px-4 py-6 sm:px-0">
        <!-- Menu List Component -->
        <MenuList client:load />
    </div>
</AppLayout>
